<script type = "text/javascript" src = "/files/js/twodgels_viewport.js"></script>

<script type = "text/javascript">

{% for twodgel in twodgels.object_list %}
    gelzoom_dct['{{ twodgel.id }}'] = {{ twodgel.zoom }}
    {% for rel_gelimg in twodgel.rel_gelimages.all %}
        {% if rel_gelimg.hasjpg %}
            gelimg_dct['{{ twodgel.id }}.{{ rel_gelimg.id }}'] = '{{ rel_gelimg.file_name }}';
        {% endif %}
    {% endfor %}
{% endfor %}

</script>
<br>
<h4>{{ viewer_title|safe }}</h4>
<br>

<br/>

{# Paginator code: #}
{% with twodgels as paginator %}
    {% with "2D Gels" as objects %}
        {% with n_twodgels as n_objects %}
            {% with "2D gels found:" as objects_found %}
                {% include "paginator_bar.html" %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
{% endwith %}
{# End of Paginator code. #}

<br/>

{% for twodgel in twodgels.object_list %}
    {{ twodgel.experiment.name }}
    <br/><br/>
    <form name="{{ twodgel.id }}" action="" method="POST" style="text-align: center;">
      <div style="display: inline-block; vertical-align: top;">
          <table border="0" style="width: 810px;"><tbody>
              <tr style="text-align: center;">
                {% for show_img in twodgel.showimgs %}
                    <td width="405px">
                      <select id="selimg.{{ twodgel.id }}.{{ forloop.counter }}" 
                        onchange="gelimg_change(this.value, '{{ twodgel.id }}', '{{ forloop.counter }}')">
                        {% for rel_gelimg in twodgel.rel_gelimages.all %}
                            {% if rel_gelimg.hasjpg %}
	                            <option 
	                              {% if rel_gelimg.id == show_img.id %}
	                              selected="selected" 
	                              {% endif %}
	                              value="{{ rel_gelimg.id }}">
	                                {{ rel_gelimg.condition }} {{ rel_gelimg.dye }} [ {{ rel_gelimg.file_name }} ]
	                            </option>
                            {% endif %}
                        {% endfor %}
                      </select>
                    </td>
                {% endfor %}
              </tr>
              <tr style="text-align: center;">
                {% for show_img in twodgel.showimgs %}
                    <td>
                      <div class="gel" 
                        id="gel.{{ twodgel.id }}.{{ forloop.counter }}"
                        style="overflow: {{ twodgel.overflow }};" 
                        onscroll="scroll_sync(this, '{{ twodgel.id }}', {{ twodgel.n_showimgs }})">
	                      <img id="img.{{twodgel.id}}.{{forloop.counter}}" 
	                        style="z-index: -1;" 
	                        src="/gelimages/{{ show_img.file_name }}?zoom={{ twodgel.zoom }}" 
	                      />
                          <div class="spot_set" id="spots.{{ twodgel.id }}.{{ forloop.counter }}">
                              <img class="spot" 
                                style="left: 10px; top: 10px; z-index: -2;" 
                                title="Spot #{{ spot.id }}" 
                                id="sel.{{ twodgel.id }}.{{ forloop.counter }}" 
                                src="/files/images/spot_sel.png"
                              />
    	                      {% for spot in twodgel.spots %}
    	                          <img class="spot" 
    	                            style="left: {{ spot.x }}px; top: {{ spot.y }}px;" 
    	                            title="Spot #{{ spot.id }}" 
    	                            id="{{ spot.id }}.{{ forloop.parentloop.counter }}" 
    	                            {% if spot.id in twodgel.spots_mrkd %}
                                    src="/files/images/spot_mrkd.png"
                                    {% else %}
                                    src="/files/images/spot.png"
                                    {% endif %}
    	                            onclick="pick_spot('{{ spot.id }}', '{{ twodgel.id }}', {{ twodgel.n_showimgs }})"
                                  />
                              {% endfor %}
                          </div>
                      </div>
                    </td>
                {% endfor %}
              </tr>
              <tr style="text-align: center;">
                {% for show_img in twodgel.showimgs %}
	                <td>
	                    <input type="checkbox" 
	                      id="show.{{twodgel.id}}.{{forloop.counter}}" 
	                      checked="checked" 
	                      onchange="show_spots(this.checked, {{ twodgel.id }}, {{ forloop.counter }})" />
	                    Show Spots
	                </td>
	            {% endfor %}
              </tr>
          </tbody></table>
      </div>
      <br/>
      <div class="spot_info" id="info.0.{{  twodgel.id }}" style="display: inline-block;">
          No spot selected:<br/><br/>
          Click on a spot (<img src="/files/images/spot.png"/>) to select it, and get more information.
      </div>
      {% for spot in twodgel.spots %}
          <div class="spot_info" id="info.{{ spot.id }}">
            <span style="color: red;">Spot #{{ spot.id }}</span>
            <table border="0" style="text-align: left;"><tbody>
		      <tr>
	              <td width="20%" valign="middle">
		              MW: {{ spot.mw|floatformat:"1" }}<br/>
		              pI: {{ spot.pi|floatformat:"1" }}
	              </td>
	              {% if spot.peptides %}
		              <td width="60%" valign="top" class="noshadow">
			              Identified peptides:<br/>
			              {% for peptide in spot.peptides %}
				              <a href="/peptide_view/{{peptide.peptide}}">
				                  <span class="sec">{{ peptide.htmlpeptide|safe }}</span>
				              </a> :<br />&nbsp;
			                  {% for spectrum in peptide.spectra %}
			                      <a href="/download_mgf/spectrum-{{ spectrum }}.mgf" 
			                          title="Download spectrum {{ spectrum }} in MGF format">
			                          {{ spectrum }}
			                      </a>
			                      {% if not forloop.last %}, {% endif %}
			                  {% endfor %}
			                  <br/>
			              {% endfor %}
		              </td>
	              {% endif %}
	              {% if spot.proteins.all %}
		              <td width="20%" valign="top">
			              Proteins identified by PMF:<br/>
			              {% for prot in spot.proteins.all %}
			                  <a href="/protein_view/{{ prot.ac }}" title="{{ prot.name }}">{{ prot.ac }}</a>{% if not forloop.last %}<br/>{% endif %}
			              {% endfor %}
		              </td>
	              {% endif %}
	              {% if spot.lcms_prots %}
		              <td width="20%" valign="top">
			              Proteins identified by LC-MS:<br/>
			              {% for prot in spot.lcms_prots %}
			                  <a href="/protein_view/{{ prot.0 }}" title="{{ prot.1 }}">{{ prot.0 }}</a>{% if not forloop.last %}<br/>{% endif %}
			              {% endfor %}
		              </td>
	              {% endif %}
              </tr>
            </tbody></table>
          </div>
      {% endfor %}
    </form>
    <br/>
{% endfor %}

<br/>

{# Paginator code: #}
{% with twodgels as paginator %}
    {% with "2D Gels" as objects %}
        {% with n_twodgels as n_objects %}
            {% with "2D gels found." as objects_found %}
                {% include "paginator_bar.html" %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
{% endwith %}
{# End of Paginator code. #}

<br/><br/>