<br/>
<form action="/download/" method="post">
    {% csrf_token %}
    <em>
    You can Download Quantitative Data from the {{APPNAME}} DataBase,
    clicking the button below:
    </em>
    <br/>
    <button type="submit" title="Download Quantitative {{APPNAME}} Data" name="download_dbexport_quant">
      <img src="/files/images/download.png"/>&nbsp;Download Quantitative {{APPNAME}} Data...
    </button>
    <br/>
</form>
<br/>
<form action="/download/" method="post">
    {% csrf_token %}
    <em>
    You can Download ALL Data from the {{APPNAME}} DataBase,
    clicking the button below:
    </em>
    <br/>
    <button type="submit" title="Download ALL {{APPNAME}} Data" name="download_dbexport_all">
      <img src="/files/images/download.png"/>&nbsp;Download ALL {{APPNAME}} Data...
    </button>
    <br/>
</form>
<br/>
<br/>