{% extends base_template %}

{% block section %}
    <div id="content">
        <h3>{{section_title}}</h3>
        {% if not errors %}
            {% if not logged %}
                {% include login_view %}
            {% endif %}
        {% else %}
            <br/>
            <em>Errors!:</em>
            <br/><br/>
            <span style="color: red;">
                <ol>
                {% for error in errors %}
                  <li>{{error.0}}:
                    <ul>
                    {% for e_msg in error.1 %}
                      <li>{{e_msg}}</li>
                    {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
                </ol>
            </span>
            <br/><br/><br/><br/>
            <form action="{{login_action}}" method="post">
            {% csrf_token %}
              <em>
              Please,
              {% if logged %}
                  <button type="submit" name="re-try" title="Try Again to Download MGFs">
                    try Downloading again...
                  </button>!
              {% else %}
                  <button type="submit" name="re-try" title="Try Again to login">
                    try login again...
                  </button>!
                  <br/><br/>
                  <p>If you need an username and password, please, <em><a href="/about/#contact">contact us</a></em>.</p>
              {% endif %}
              </em>
            </form>
            <br/>
        {% endif %}
    </div>
{% endblock %}