{% extends base_template %}

{% block section %}
    <div id="content">
        {% if logged %}
          <div style="float: right;">
              <form action="/download/" method="post">
                {% csrf_token %}
                <button type="submit" title="Log-out" name="log-out">
                  Log-Out
                </button>
              </form>
          </div>
        {% endif %}

        <h3>{{section_title}}</h3>
        {% if not errors %}
            {% if logged %}
                {% include download_view %}
            {% else %}
                {% include login_view %}
            {% endif %}
        {% else %}
            <br/>
            <em>Errors!:</em>
            <br/><br/>
            <span style="color: red;">
                <ol>
                {% for error in errors %}
                  <li>{{error.0}}:
                    <ul>
                    {% for e_msg in error.1 %}
                      <li>{{e_msg}}</li>
                    {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
                </ol>
            </span>
            <br/><br/><br/><br/>
            <em>
            Please,
            {% if logged %}
                <a title="Try Again to Download {{APPNAME}} DataBase" href="/download/" rel="section">try Downloading again</a>!
            {% else %}
                <a title="Try Again to login" href="/download/" rel="section">try login again</a>!
                <br/><br/>
                <p>If you need an username and password, please, <em><a href="/about/#contact">contact us</a></em>.</p>
            {% endif %}
            </em>
            <br/>
        {% endif %}
    </div>
{% endblock %}