{% extends base_template %}

{% block section %}
<div id="content" style="  line-height : 1.6em;">

  <a rel="help" name="about" id="about"></a>
  <h3>About <span style="color: #FF9030;">{{APPNAME}}</span></h3>
  <p>{{APPNAME}} is a continuous evolving PhosphoProteome DataBase for {{CELLTYPE}}
  created and maintained by the <a href="http://proteomica.uab.cat" title="CSIC/UAB Proteomics Laboratory WebPage" target="_blank">CSIC/UAB
  Proteomics Laboratory</a>.
  And it's also a Web-Application that allows everyone to freely access all this
  information from the Internet.</p>
  <p>It is possible to <a rel="section" href="/search/" title="Search {{APPNAME}} DataBase">Search</a>
  for proteins and for peptide sequences with phosphorylation sites (<i>p</i>-sites),
  or <a rel="section" href="/search/" title="Browse {{APPNAME}} DataBase">browse</a>
  the entire database, where experimental data (commented mass spectra) will
  support every <i>p</i>-site assignment.<br/>
  An accurate description of the experimental design can be found in the
  <a rel="section" href="/experimental/" title="Experimental Procedures">Experimental</a>
  section.<br/>
  More detailed information on the people at the <a href="http://proteomica.uab.cat" title="CSIC/UAB Proteomics Laboratory WebPage" target="_blank">CSIC/UAB
  Proteomics Laboratory</a> behind this project can be obtained at the <a rel="section" href="/about/" title="About {{APPNAME}} DataBase">About</a>
  section.</p>

  <a rel="help" name="general" id="general"></a>
  <h3>General Help and Hints:</h3>
  <a rel="help" name="phosphopeptides_psites" id="phosphopeptides_psites"></a>
  <h4>Phospho-peptides and <i>p</i>-sites representation</h4>
  <p>At many places in {{APPNAME}} Web-Application, phospho-peptides sequences, and
    <i>p</i>-sites positions can be found:</p>
  <p><img class="help" title="Example of a Phospho-peptide Results list View" src="/files/images/ppep_psites_rep1.png" />
    <img class="help" title="Example of a Protein View" src="/files/images/ppep_psites_rep3.png" /></p>
  <p><b>Phospho-peptide sequences</b> are usually represented as <span class="sec">UPPERCASE BLUE</span>
    or <span class="secpepinprot">UPPERCASE BLACK</span> aminoacid letters.</p>
  <p>While <b><i>p</i>-sites</b> are represented as <span style="font-family:monospace; font-weight:bold;">bold lowercase</span>
    aminoacid letters inside a square of different colors, depending of the <em title="Ovelleiro, D., Carrascal, M., Casas, V., Abian, J., LymPHOS: design of a phosphosite database of primary human T cells. Proteomics 2009, 9, 3741–3751.">Q-Ascore</em>
    (phosphorylation assignment confidence) of the <i>p</i>-site:</p>
  <ul>
    <li><p>When the Q-Ascore of the <i>p</i>-site is <em>greater</em> than the fixed
    threshold (<em>19</em>), the square is <span style="color:#57FF00; font-weight:bold;">filled in green</span>
    and has a <span style="color:red;">red border</span>, as in: <span class="secP">s</span> ,
    <span class="secP">t</span> , <span class="secP">y</span>&nbsp;.</p></li>
    <li><p>When the Q-Ascore of the <i>p</i>-site is <em>lower</em> or <em>equal</em>
    than the fixed threshold (<em>19</em>), the square is <span style="color:orange; font-weight:bold;">filled in orange</span>
    and has a <span style="color:green;">green border</span>, as in: <span class="secPdoubt">s</span> ,
    <span class="secPdoubt">t</span> , <span class="secPdoubt">y</span>&nbsp;.</p></li>
  </ul>
  <p>This can be clearly seen in the following screen-shot of a <i>Phospho-peptide
    View</i>:</p>
  <div>
    <p><img class="help" title="Example of a Phospho-peptide View" src="/files/images/ppep_psites_rep2.png" /></p>
    <p>
      In this example, the phospho-peptide <span class="sec">TD<span class="secPdoubt">s</span>REDEI<span class="secP">s</span>PPPPNPVVK</span>
      has two <i>p</i>-sites; two phosphoriled serines:
      <ol>
        <li>The first serine has a Q-Ascore (Q-Ascore 1 = 5.03) <em>lower</em> than the
          threshold (<em>19</em>), so it is displayed as <span class="secPdoubt">s</span>&nbsp;.</li>
        <li>The second serine has a Q-Ascore (Q-Ascore 2 = 40.32) <em>greater</em> than the
          threshold (<em>19</em>), so it is displayed as <span class="secP">s</span>&nbsp;.</li>
      </ol>
    </p>
  </div>
  <br/>

  <a rel="help" name="quantitative_summary" id="quantitative_summary"></a>
  <h3>Quantitative Summary View:</h3>
  <a rel="help" name="get_quant_summary" id="get_quant_summary"></a>
  <h4>How to get to the Quantitave Summary of a phospho-peptide?</h4>
  <div style="display:inline-block; vertical-align:middle;">
      <p><img class="help" align="left" title="Example of a Phospho-peptide Results list View" src="/files/images/quant_summary1.jpg" />
        After you <i>Search for Phospho-peptides</i>, you can go directly to the Quantitative Summary
        of a peptide by clicking the <em>green check-mark ( <img alt="quantitative_yes" src="/files/images/yes.png" title="Click here for this peptide Statistical Quantitative Data Summary..."> )</em>,
        located under the Quantitative Data Availability column ( <img alt="quantitative_data" src="/files/images/qdata.png" title="Quantitative data availability"/> ),
        that indicates the presence of quantitative information for that phospho-peptide.</p>
  </div>
  <div style="display:inline-block; vertical-align:middle;">
    <p><img class="help" align="left" title="Example of a Protein View" src="/files/images/quant_summary2.jpg" />
      From a <i>Protein View</i>, you can go to the Quantitative Summary of every of its
      Phospho-peptides supporting the phosphorilations found in that protein
      (sub-section <i>Phosphorylations found and supporting MS Phospho-peptides</i>).
      Only click the <em>green check-mark ( <img alt="quantitative_yes" src="/files/images/yes.png" title="Click here for this peptide Statistical Quantitative Data Summary..."> )</em>,
      located under the Quantitative Data Availability column ( <img alt="quantitative_data" src="/files/images/qdata.png" title="Quantitative data availability"/> ),
      that indicates the presence of quantitative information for each phospho-peptide.</p>
  </div>
  <div style="display:inline-block; vertical-align:middle;">
    <p><img class="help" align="left" title="Example of a Phospho-peptide View" src="/files/images/quant_summary3.jpg" />
      From a <i>Phospho-peptide View</i>, you can go to its Quantitative Summary by clicking
      the <em>black scales icon ( <img alt="quantitative_data" src="/files/images/qdata.png" title="Quantitative Data Summary..."/> )</em>,
      located near the sequence of the phospho-peptide.</p>
  </div>
  <br/>
  <a rel="help" name="quant_summary_state" id="quant_summary_state"></a>
  <h4>Quantitave Summary State</h4>
  <img class="right help" title="Example of a Quantitative Summary View" src="/files/images/quant_summary4.jpg" />
  <p>In the <i>Quantitative Summary View</i> of a phospho-peptide, you can
  see for every experimental condition its <em>Quantitative State</em> at
  every quantified activation time in that experimental condition.</p>
  <p>The <em>Quantitative State</em> is represented in two different ways:</p>
  <ol>

    <li><a rel="help" name="quant_summary_arrows" id="quant_summary_arrows"></a>
      <p><em>Quantitative State as <span style="color:green;">green</span> and
        <span style="color:red;">red</span> arrows.</em></p>
      <p>The <i>small arrows</i> in parenthesis <span style="white-space: nowrap;">
          (<span title="Number of spectra indicating down-regulation"><img class="reg" alt="down_regulated:" src="/files/images/mini_down_reg.png">: X</span>,
          <span title="Number of spectra indicating no-change"><img class="reg" alt="non_regulated:" src="/files/images/mini_no_reg.png">: Y</span>,
          <span title="Number of spectra indicating up-regulation"><img class="reg" alt="up_regulated:" src="/files/images/mini_up_reg.png">: Z</span>)
        </span> indicate:</p>
      <ul style="list-style-type:none">
        <li><p><img class="reg" title="Number of spectra indicating down-regulation" alt="down_regulated:" src="/files/images/mini_down_reg.png"> :
          the <b>number of spectra</b> whose log<sub><sub>2</sub></sub>(<i>ratio</i>)
          is lower than <span title="two-sigma">2&sigma;</span> under the mean
          log<sub><sub>2</sub></sub>(<i>ratio</i>) of its experiment normal distribution
          (and thus indicating a possible <b>down-regulation</b>).</p></li>
        <li><p><img class="reg" title="Number of spectra indicating no-change" alt="down_regulated:" src="/files/images/mini_no_reg.png"> :
          the <b>number of spectra</b> whose log<sub><sub>2</sub></sub>(<i>ratio</i>)
          is inside the range of the mean log<sub><sub>2</sub></sub>(<i>ratio</i>)
          &plusmn;&nbsp;<span title="two-sigma">2&sigma;</span> of its experiment
          normal distribution (and thus indicating a possible <b>no change</b>).</p></li>
        <li><p><img class="reg" title="Number of spectra indicating up-regulation" alt="down_regulated:" src="/files/images/mini_up_reg.png"> :
          the <b>number of spectra</b> whose log<sub><sub>2</sub></sub>(<i>ratio</i>)
          is greater than <span title="two-sigma">2&sigma;</span> over the mean
          log<sub><sub>2</sub></sub>(<i>ratio</i>) of its experiment normal
          distribution (and thus indicating a possible <b>up-regulation</b>).</p></li>
      </ul>
      <p>While the <i>big arrows</i> show the <em>trend</em>, the summary of the possible
        changes indicated by the smalll arrows in parenthesis:</p>
      <ul style="list-style-type:none">
        <li><p>
          <span style="white-space: nowrap;">
          <img class="reg" title="Trend (summary of spectrum changes): up-regulaion (ambiguous trend)" src="/files/images/up_reg_0.png" />
          <img class="reg" title="Trend (summary of spectrum changes): up-regulaion (very weak trend)" src="/files/images/up_reg_1.png" />
          <img class="reg" title="Trend (summary of spectrum changes): up-regulaion (weak trend)" src="/files/images/up_reg_2.png" />
          <img class="reg" title="Trend (summary of spectrum changes): up-regulaion (moderate trend)" src="/files/images/up_reg_3.png" />
          <img class="reg" title="Trend (summary of spectrum changes): up-regulaion (strong trend)" src="/files/images/up_reg_4.png" />
          </span>
          &nbsp;<i>Green-up arrows</i> indicate a <em>trend</em> towards the <b>up-regulation</b>
          of that phospho-peptide.</p></li>
        <li><p>
          <span style="white-space: nowrap;">
          <img class="reg" title="Trend (summary of spectrum changes): down-regulation (ambiguous trend)" src="/files/images/down_reg_0.png" />
          <img class="reg" title="Trend (summary of spectrum changes): down-regulation (very weak trend)" src="/files/images/down_reg_1.png" />
          <img class="reg" title="Trend (summary of spectrum changes): down-regulation (weak trend)" src="/files/images/down_reg_2.png" />
          <img class="reg" title="Trend (summary of spectrum changes): down-regulation (moderate trend)" src="/files/images/down_reg_3.png" />
          <img class="reg" title="Trend (summary of spectrum changes): down-regulation (strong trend)" src="/files/images/down_reg_4.png" />
          </span>
          &nbsp;<i>Red-down arrows</i> indicate a <em>trend</em> towards the <b>down-regulation</b>
          of that phospho-peptide.</p></li>
        <li><p>
          <span style="white-space: nowrap;">
          <img class="reg" title="Trend (summary of spectrum changes): no-change (ambiguous trend)" src="/files/images/no_reg_0.png" />
          <img class="reg" title="Trend (summary of spectrum changes): no-change (strong trend)" src="/files/images/no_reg_1.png" />
          </span>
          &nbsp;<i>Mixed Green-up and Red-down arrows</i> indicate a <em>trend</em> towards
          <b>no change</b> of that phospho-peptide.</p></li>
      </ul>
      <p>The <b>degree of filling</b> of these <i>big arrows</i> shows the
        <em>power of this trend</em>: from an ambiguous trend, as an unfilled
        arrow; to a strong trend, as a fully filled arrow.</p>
      <p>Also, in the case of trends based <b>only in one spectra</b>, special <i>shaded
        arrows</i> ( <img class="reg" title="Trend (summary of spectrum changes): up-regulaion (caution, single spectrum)" src="/files/images/up_reg_single.png" />&nbsp;<img class="reg" title="Trend (summary of spectrum changes): down-regulaion (caution, single spectrum)" src="/files/images/down_reg_single.png" />&nbsp;<img class="reg" title="Trend (summary of spectrum changes): no-change (caution, single spectrum)" src="/files/images/no_reg_single.png" /> )
        are used, to warn the user.
    </li>

    <li><a rel="help" name="quant_summary_values" id="quant_summary_values"></a>
      <p><em>Quantitative State as numerical values.</em></p>
      <p>Below the arrows, for each quantified activation time in the experimental
        condition, the <em>mean</em> of the individual spectra normalized base 2 logarithms
        of the <i>ratio</i> between intensity at the indicated time and intensity at
        time 0 <span style="white-space: nowrap;">[ log<sub><sub>2</sub></sub>(<i>ion intensity at time X</i> / <i>ion intensity at time 0</i>) ]</span>,
        as well as the <em>standard deviation</em> of this mean, are shown, as
        calculated by the <a href="https://bitbucket.org/lp-csic-uab/lymphospquantifier">LymPHOS PQuantifier</a> program
        (PQuantifier results).</p>
      <p>An asterisk ( <span title="Significant change according to a t-student test with a 95% significance" style="font-size:1.3em">*</span> )
        is shown near PQuantifier values, if they represent a significant change according
        to a <i>t</i>-student test with a <em>95% significance</em>.<br/>
        And two asterisks ( <span title="Significant change according to a t-student test with a 99% significance" style="font-size:1.3em">**</span> )
        are shown, if PQuantifier values represent a significant change according to
        a <i>t</i>-student test with a <em>99% significance</em>.</p>
      <p>When available, below the PQuantifier calculated values it will also
        appear the <em>mean</em> of the individual spectra normalized base 2 logarithms
        of the <i>ratio</i> between intensity at the indicated time and intensity at
        time 0 <span style="white-space: nowrap;">[ log<sub><sub>2</sub></sub>(<i>ion intensity at time X</i> / <i>ion intensity at time 0</i>) ]</span>,
        as calculated by the <a href="http://omics.pnl.gov/software/danter">DanteR</a> program
        (DanteR results).</p>
      <p>A plus sign ( <span title="Significant change according to an ANOVA test with an adjusted p-value lower than 0.05" style="font-size:1.3em"><sup>+</sup></span> )
        is shown near DanteR values, when they represent a significant change
        according to an ANOVA test with an <b>adjusted <i>p</i>-value</b> lower than <em>0.05</em>.</p>
    </li>
  </ol>
  <br/>

</div>
{% endblock %}
