<div id="sidebar" style="padding:0px 5px;">
  <div style="position:fixed; width:inherit;">
    <h4>Table Of Contents:</h4>
    <p><a href="#top">About {{APPNAME}}</a></p>
    <p><a href="#general">General Help and Hints</a>
      <ul>
        <li><a href="#phosphopeptides_psites">Phospho-peptides and <i>p</i>-sites representation</a></li>
      </ul>
    </p>
    <p><a href="#quantitative_summary">Quantitative Summary View</a>
      <ul>
        <li><a href="#get_quant_summary">How to get to the Quantitave Summary of a phospho-peptide?</a></li>
        <li><a href="#quant_summary_state">Quantitave Summary State</a></li>
      </ul>
    </p>
  </div>
</div>
