{% extends base_template %}

{% block section %}
    <div id="content">
        <h3>Welcome to <span style="color: #FF9030;">{{APPNAME}}</span></h3>
        <img src="/files/images/piramid2.png" class="right" alt="LymPHOS WorkFlow" title="" id="workflow_logo"/>
        <p>{{APPNAME}} is a web-oriented DataBase containing peptide and protein sequences
        and spectrometric information on the PhosphoProteome of {{CELLTYPE}}.</p>
        <p>It is possible to <a rel="section" href="/search/" title="Search {{APPNAME}} DataBase">Search</a> phosphorylation sites for
        both proteins and peptide sequences, or <a rel="section" href="/search/" title="Browse {{APPNAME}} DataBase">browse</a> the entire database,
        where experimental data (annotated mass spectra) will support every
        phosphorylation site assignment.</p>
        <p>An accurate description of the experimental design can be found in
        the <a rel="section" href="/experimental/" title="Experimental Procedures">Experimental</a> section.</p>
        <p>More detailed information on {{APPNAME}} background and the people at the <a href="http://proteomica.uab.cat" title="CSIC/UAB Proteomics Laboratory WebPage" target="_blank">CSIC/UAB
        Proteomics Laboratory</a> can be obtained at the <a rel="section" href="/about/" title="About {{APPNAME}} DataBase">About</a> section.</p>
        <p>For specific descriptions of the {{APPNAME}} features have a look at
        the documentation in the <a rel="section" href="/help/" title="{{APPNAME}} Help">Help</a> section.</p>
    </div>
{% endblock %}