<script type = "text/javascript" src = "/files/js/sha256.js"></script>

<script type = "text/javascript">
  function trim(str) {
      //Copied from that one at http://stackoverflow.com/a/498978
      return str.replace(/^\s+|\s+$/g,"");
  }
  
  function dkf_sha256(text, iterations=1) {
	  var prev=text;
	  text = Sha256.hash(text);
	  
	  for (var i=0; i<iterations; i++) {
		  prev = Sha256.hash(text + i.toString() + prev); 
	  }
	  return prev;
  }
  
  function generate_hashes() {
      var lu_code, lu_name, hashed, img, hashed_name, hashed_code, rehashed_code;

      lu_code = document.getElementById('lu_code');
      lu_name = document.getElementById('lu_name');
      hashed = document.getElementById('hashed');
      img = document.getElementById('padlock');
      hashed_name = dkf_sha256('{{APPNAME}}' + trim(lu_name.value), 10000)
      hashed_code = dkf_sha256(hashed_name + lu_code.value, 49000);
      rehashed_code = dkf_sha256(img.getAttribute('src') + hashed_code, 1000);
      lu_code.value = rehashed_code;
      lu_name.setAttribute('type', 'password');
      lu_name.value = hashed_name;
      hashed.value = "1";
      return true;
  }
</script>

<br/>
<h4>
  <img alt="This action requires a valid Username and Password..." title="This action requires a valid Username and Password..." src="/file/images/padlock{{ots.uuid}}.png" id="padlock"/>&nbsp;Log-in:
</h4>

<noscript>
    <h4 align="center" style="color: red;">WARNING! Please, enable JavaScript for improved security on this page!</h4>
</noscript>


<br/>
<form action={{login_action}} method="post">
    {% csrf_token %}
    <input type="hidden" name="hashed" id="hashed" value="0">
    <input type="hidden" name="l_session" id="l_session" value="{{ots.session}}">
    <table>
    <tbody>
        <tr title="Enter your username...">
            <td><label for="lu_name">User:</label></td>
            <td><input type="text" name="lu_name" id="lu_name"/></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr title="Enter your password...">
            <td><label for="lu_code">Password:</label></td>
            <td><input type="password" name="lu_code" id="lu_code"/></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><button type="submit" name="log-in"
                        title="Log-in with given Username and Password"
                        onclick="generate_hashes()">
                <img src="/files/images/key.png"/>&nbsp;Log-in!
            </button></td>
            <td><button type="reset" title="Clear form" name="l_cancel">
                <img src="/files/images/eraser.png"/>&nbsp;Reset
            </button></td>
        </tr>
    </tbody>
    </table>
</form>
<br/>
<p>If you need an username and password, please, <em><a href="/about/#contact">contact us to register</a></em>.</p>
<br/>
