                <div id="menunav">
                    <ul>
                        <li><a rel="section" class="{{class_home}}" href="/" title="{{APPNAME}} Home Page"><span>Home</span></a></li>
                        <li><a rel="section" class="{{class_search}}" href="/search/" title="Search {{APPNAME}} DataBase"><span>Search</span></a></li>
                        <li><a rel="section" class="{{class_experimental}}" href="/experimental/" title="Experimental Procedures"><span>Experimental</span></a></li>
                        <li><a rel="section" class="{{class_upload}}" href="/upload/" title="Upload New Data into {{APPNAME}} DataBase"><span>Upload</span></a></li>
                        <li><a rel="section" class="{{class_contribute}}" href="/contribute/" title="Collaborate with us"><span>Contribute</span></a></li>
                        <li><a rel="section" class="{{class_download}}" href="/download/" title="Download Data from {{APPNAME}} DataBase"><span>Download</span></a></li>
                        <li><a rel="section" class="{{class_about}}" href="/about/" title="About {{APPNAME}}"><span>About</span></a></li>
                        <li><a rel="section" class="{{class_help}}" href="/help/" title="{{APPNAME}} Help"><span>Help</span></a></li>
<!--                         <li><a rel="section" class="{{class_todo}}" href="/todo/" title="{{APPNAME}}, a work in continuous evolution"><span>To Do</span></a></li> -->
                    </ul>
                </div>
