{# Paginator code: #}
{% if paginator.paginator.num_pages > 1 %}
    <table width="100%">
    <tbody><tr valign="middle">
        {% if not quicksearch %}
            <td align="left">
                <em>
                {{ objects }} <span style="color: #6C67AA;">{{ paginator.start_index }} - 
                {{ paginator.end_index }}</span> of <span style="color: #FF8020;">{{ n_objects }}</span>  
                {{ objects_found }}
                </em>
            </td>
            <td align="right">
                <form action= "{{ action }}{{ object }}" method="post" name="paginator_{{ objects }}_search">
                    {% csrf_token %}
                    <input type="hidden" name="{{ search_type }}" value="1"/>
                    {% if search_input %}
                        <input type="hidden" name="{{ search_input }}" value="{{ search_value }}"/>
                    {% endif %}
                    {% if search_order_by %}
                        <input type="hidden" name="order_by" value="{{ search_order_by|join:',' }}"/>
                    {% endif %}
                    {% if paginator.has_previous %}
                        <button type="submit" name="page" value="{{ paginator.previous_page_number }}" id="previous_page" tabindex="1" title="Previous page ({{ paginator.previous_page_number }})">
                            &lt;&lt; <b>previous</b>
                        </button>
                    {% endif %}
                
                    <span class="current">
                        Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}
                    </span>
                
                    {% if paginator.has_next %}
                        <button type="submit" name="page" value="{{ paginator.next_page_number }}" id="next_page" tabindex="2" title="Next page ({{ paginator.next_page_number }})">
                            <b>next</b> &gt;&gt;
                        </button>
                    {% endif %}
                </form>
            </td>
        {% else %}
            <td align="left">
                <em>
                Showing only the first <span style="color: #6C67AA;">50</span> {{ objects_found }}
                </em>
            </td>
            <td align="right">
                If you want to get the full result list do a <a href="/search/">regular Search</a>
            </td>
        {% endif %}
    </tr></tbody>
    </table>
{% else %}
    <em><span style="color: #FF8020;">{{ n_objects }}</span> {{ objects_found }}</em><br/>
{% endif %}
{# End of Paginator code. #}