<br/>
<h4>
  Peptide <span class="sec">{{htmlpeptide|safe}}</span>&nbsp;&nbsp;
  {% if peptide_qdata %}
    <a href="/quant_summary/{{peptide}}" title="Quantitative Data Summary...">
      <img src="/files/images/qdata.png"/>
    </a>
  {% endif %}
  {% if n_experiments > 1 %}
    <div style="float:right; vertical-align:top;">
      <form action="/download_all_mgfs/{{peptide}}-spectra.mgf" method="post">
        {% csrf_token %}
        <button type="submit" name="download_all_mgfs" 
                title="Download all spectra for peptide {{peptide}} in MGF format..." 
                style="margin: 0px; padding: 0px;">
          <img src="/files/images/download.png"/>&nbsp;Download all spectra in MGF format
        </button>
      </form>
    </div>
  {% endif %}
</h4>
<br/>

<div style="display:inline-block; vertical-align:top;">
    <em>Proteins containing this peptide:&nbsp;</em>
</div>
<div style="display:inline-block;">
    {% for prot in proteins %}
        <a href="/protein_view/{{prot.0}}" title="{{prot.1}}">
            {{prot.0}}
        </a><br/>
    {% endfor %}
</div>
<br/><br/><br/>

{# Paginator code: #}
{% with experiments as paginator %}
    {% with "Spectra" as objects %}
        {% with n_experiments as n_objects %}
            {% with "spectra found for this peptide:" as objects_found %}
                {% include "paginator_bar.html" %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
{% endwith %}
{# End of Paginator code. #}

<br/>
{% for exp in experiments.object_list %}
    <h5>
        Spectrum ID:
        {% for spectrum in exp.spectra %}
            {{spectrum.0}}
            {% if not forloop.last %} , {% endif %}
        {% endfor %}
        <br/>
        Original Peptide: {{exp.pep_orig}}<br/>
        Peptide: <span class="sec">{{exp.htmlpeptide|safe}}</span>

    </h5>
    <br/>
    <table class="viewer" width="100%" cellspacing="1" rules="all">
    <tbody>
        <tr class="peptid_header">
            <th title="This value is the precursor mass provided by Sequest. It's the precursor mass expressed as [M+H]1+, independently of the charge state of the precursor">Mass(amu)</th>
            <th title="Charge state of the precursot ion" class="links_info">Charge</th>
            <th title="Delta Mass is the difference between the observed and theoretical precursor masses, both as [M+H]1+">DeltaMass(amu)</th>
            <th title="MS level of the experiment. Only MS2 and MS3 levels have been used">MSn</th>
            <th title="Scan number">Scan</th>
            <th title="Chromatographical retention time in seconds">Rt (s)</th>
            <th title="Mass Spectrometer">Instrument</th>
        </tr>
        <tr>
            <td>{{exp.mass|floatformat:decimals}}</td>
            <td>{{exp.charge}}</td>
            <td>{{exp.deltamass|floatformat:decimals}}</td>
            <td>MS{{exp.ms_n}}</td>
            <td>{{exp.scan}}</td>
            <td>{{exp.rt|floatformat:decimals}}</td>
            <td>{{exp.spectrometer}}</td>
        </tr>
        <tr class="peptid_header">
            <th title="Main score in Sequest search engine. It represents the cross-correlation of the experimental and theoretical spectra">Sequest XCorr</th>
            <th title="PeptideProphet-like value used in the filtering process. (Keller et. al, 2002. Anal. Chem. 15;74(20):5383-92)">D-value</th>
            <th title="Main score in OMSSA ms/ms search engine">OMSSA Score</th>
            <th title="Main score in Phenix search engine">Phenyx Score</th>
            <th title="Number of proteins in the Uniprot SwissProt+Trembl Human database containing this peptide">Protein Count</th>
            <th colspan="2" title="Original Thermo RAW file storing the raw data">Raw file</th>
        </tr>
        <tr>
            <td>{{exp.xcorr|floatformat:decimals}}</td>
            <td>{{exp.d|floatformat:decimals}}</td>
            <td>{{exp.omssa}}</td>
            <td>{{exp.phenyx|floatformat:decimals}}</td>
            <td>{{exp.n_prots}}</td>
            <td colspan="2">{{exp.raw_file}}</td>
        </tr>
    </tbody>
    </table>
    <table class="viewer" width="100%" cellspacing="1" rules="all">
    <tbody>
        <tr class="peptid_header">
            <th title="Mass spectrometry experimental conditions used">MS Experiment</th>
            {% if exp.spot.id > 0 %}
                <th width="15%" title="Spot ID in a 2D Gel"><img alt="2d_data" src="/files/images/2dgel.png"></th>
            {% endif %}
            {% for asc in exp.lt_ascores %}
                <th width="15%" 
                    title=
                    {% if forloop.first %}
                        "Probability based Score to determine the certainty for phosphorylation site assignment. A Q-Ascore > {{threshold}} produces >99% certainty for correct phosphosite assignment (Ascore has been dscribed by Sean A. et al. For more information go to http://ascore.med.harvard.edu )"
                    {% else %}
                        "More Q-Ascore values are provided when two or more phosphorylation events happen. Q-Ascore 1 is associated with the first phosphorylation, Q-Ascore 2 with the second one,... in order of appearance"
                    {% endif %}
                 >
                Q-Ascore {{forloop.counter}}
                </th>
            {% endfor %}
        </tr>
        <tr>
            <td><a href="/experimental/">{{exp.exp}} (Exp. ID: {{exp.exp_id}})</a></td>
            {% if exp.spot.id > 0 %}
                <td>
                    <a href="/2d_gels/viewer&spot={{exp.spot.id}}&spectra={{exp.spectra.0.0}}">
                        Spot ID: {{exp.spot.id}}
                    </a>
                </td>
            {% endif %}
            {% for asc in exp.lt_ascores %}
                <td bgcolor="{{asc.1}}">{{asc.0}}</td>
            {% endfor %}
    </tbody>
    </table>
    {% if exp.quantitative %}
        <table class="viewer" width="100%" cellspacing="1" rules="all">
        <tbody>
            <tr>
                <th class="quant_header" colspan="{{exp.q_ncols}}" title="Quantitative data">
                    Quantitative data from {{exp.q_label}} isotopic labeling
                </th>
            </tr>
            <tr>
                <th class="quant_header" title="Ion labeling mass">{{exp.q_label}} Ion</th>
                {% for ion in exp.q_ions %}
                    <td>{{ion}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th class="quant_header" title="Experimental condition for each labeling ion (Activation time in minutes)">Activation condition</th>
                {% for cond in exp.q_conds %}
                    <td>{{cond}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th class="quant_header" title="Intensity of each labeling ion">Intensity</th>
                {% for inten in exp.q_intens %}
                    <td>{{inten|floatformat:decimals}}</td>
                {% endfor %}
            </tr>
        </tbody>
        </table>
    {% endif %}

    {% for spectrum in exp.spectra %}
        <form action="/download_mgf/spectrum-{{spectrum.0}}.mgf" method="post">
        {% csrf_token %}
            <fieldset>
                <div align="center">
                    <img src="/spectrum_image/{{spectrum.0}}.png">
                </div><br/>
                <center>
                    <button type="submit" name="spectrum-{{spectrum.0}}.mgf">
                        Download spectrum {{spectrum.0}} in MGF format
                    </button>
                </center>
            </fieldset>
        </form>
    {% endfor %}
    {% if not forloop.last %}<br/><br/>{% endif %}
{% endfor %}
<br/>


{# Paginator code: #}
{% with experiments as paginator %}
    {% with "Spectra" as objects %}
        {% with n_experiments as n_objects %}
            {% with "spectra found for this peptide." as objects_found %}
                {% include "paginator_bar.html" %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
{% endwith %}
{# End of Paginator code. #}

<br/><br/>