<br/>

{# Paginator code: #}
{% with peptides as paginator %}
    {% with "Phospho-peptides" as objects %}
        {% with n_peptides as n_objects %}
            {% with "unique phospho-peptides found:" as objects_found %}
                {% include "paginator_bar.html" %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
{% endwith %}
{# End of Paginator code. #}

<br/>
<table class="browser" width="100%" cellspacing="0" rules="rows">
<colgroup span="1" id="col_peptide"></colgroup>
<tbody>
	{# Table_Result_Headers code: #}
	{% with "/peptide_search_results/" as action %}
	    {% include "table_result_headers.html" %}
	{% endwith %}
	{# End of Table_Result_Headers code. #}
	
    {% for pep in peptides.object_list %}
        <tr align="center">
            <td width="24%">
                <a href="/peptide_view/{{pep.peptide}}">
                    <span class="sec">{{pep.htmlpeptide|safe}}</span>
                </a>
            </td>
            <td width="4%">{{pep.n_scans}}</td>
            <td width="4%">
                {% if pep.quantitative %}
                        <a href="/quant_summary/{{pep.peptide}}">
                            <img alt="quantitative_yes" src="/files/images/yes.png" title="Click here for this peptide Statistical Quantitative Data Summary...">
                        </a>
                {% else %}
                        <span title="No statistical quantitative data">-</span>
                {% endif %}
            </td>
            {% comment "No more 2D Gel information" %}
            <td width="4%">
                {% if pep.gel %}
                        <a href="/2d_gels/viewer&pep={{pep.peptide}}">
                            <img alt="2dgel_yes" src="/files/images/yes.png" title="Click here for this peptide 2D Gel experiment/s...">
                        </a>
                {% else %}
                        <span title="No Spectra from 2D Gel experiment">-</span>
                {% endif %}
            </td>
            {% endcomment %}
            <td width="4%">{{pep.n_prots}}</td>
            <td width="62%">
                {% for protroot, isofnums in pep.grpprots.items %}
                    {% if not protroot.2 %}
                        <a href="/protein_view/{{protroot.0}}" 
                               title="{{protroot.1}}">
                            {{protroot.0}}
                        </a>
	                {% else %}
	                    <a href="/protein_view/{{protroot.0}}-{{protroot.2}}" 
	                           title="{{protroot.1}} - Isoform {{protroot.2}}">
	                        {{protroot.0}}-{{protroot.2}}
	                    </a>
                    {% endif %}
                    {% if isofnums|length > 0 %}
                        <nobr>
                        ( 
                        <small>
                        {% for isofnum in isofnums %}
                            <a href="/protein_view/{{protroot.0}}-{{isofnum}}" 
                               title="{{protroot.1}} - Isoform {{isofnum}}">
                                {{isofnum}}
                            </a>
                            {% if not forloop.last %},{% else %}</small>){% endif %}                                
                        {% endfor %}
                        </nobr>
                    {% endif %}
                    {% if not forloop.last %};{% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}

    {# Table_Result_Headers code: #}
    {% with "/peptide_search_results/" as action %}
        {% include "table_result_headers.html" %}
    {% endwith %}
    {# End of Table_Result_Headers code. #}
</tbody>
</table>
<br/>

{# Paginator code: #}
{% with peptides as paginator %}
    {% with "Phospho-peptides" as objects %}
        {% with n_peptides as n_objects %}
            {% with "unique phospho-peptides found." as objects_found %}
                {% include "paginator_bar.html" %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
{% endwith %}
{# End of Paginator code. #}

<br/>

