<br />
<h4>{{protein.ac}}</h4>
<br />

<em>Protein names:</em> {{protein.name}}.<br />
<br />
{% if protein.seq %}
  <div style="display:inline-block; vertical-align:top;">
	<span class="secprot">{{protein.html_seqnums|safe}}</span>
  </div>
  &nbsp;
  <div style="display:inline-block; vertical-align:top;">
    <span class="secprot">{{protein.htmlseq|safe}}</span>
  </div>
  <br />
  {% if protein.phospho %}
    <br />
	<em>Phosphorylations found and supporting MS Phospho-peptides:</em>
    <br /><br />
    <table class="phosphosites" width="80%" cellspacing="0" rules="rows">
    <colgroup>
      <col span="1">
      <col span="1" id="col_peptide">
    </colgroup>
    <tbody>
        <tr id="sub_header">
            <th width="11%"
                title="Phosphorylation found in protein">
                P-site
            </th>
            <th width="32%"
                title="s,t,y represent phosphorylation on Ser, Thr or Tyr">
                Supporting P-peptide
            </th>
            <th width="8%"
                title="Location of the phospho-peptide within the protein sequence">
                Location
            </th>
            <th width="4%"
                title="Number of spectra identifying the peptide">
                &nbsp;#&nbsp;specs&nbsp;
            </th>
            <th width="4%"
                title="Quantitative data availability">
                <img alt="quantitative_data" src="/files/images/qdata.png">
            </th>
            {% comment "No more 2D Gel information" %}
              <th width="4%"
                title="Associated 2D Gel experiment">
                <img alt="2d_data" src="/files/images/2dgel.png">
              </th>
            {% endcomment %}
            <th width="55%"
                title="Uniprot ACcession numbers">
                Proteins
            </th>
        </tr>
        {% for psite, metadata in protein.oneletter_psitesfrompeps_w_metadata.items %}
          <tr id="psite">
            <td rowspan={{metadata|length}}>
              <a rel="p-site" name="{{psite}}" id="{{psite}}"></a>
              {{psite}}
            </td>
          {% for data in metadata %}
            {% if not forloop.first %}
              <tr id="peptide">
            {% endif %}
            <td>
             <a href="/peptide_view/{{data.ppeptide.peptide}}">
                <span class="sec">{{data.ppeptide.htmlpeptide|safe}}</span>
              </a>
            </td>
            <td>
              <small>{{data.start_pos}}-{{data.end_pos}}</small>
            </td>
            <td>{{data.ppeptide.n_scans}}</td>
            <td>
              {% if data.ppeptide.quantitative %}
                <a href="/quant_summary/{{data.ppeptide.peptide}}" title="Click here for Quantitative Summary...">
                  <img src="/files/images/yes.png" />
                </a>
              {% else %}
                <span title="No statistical quantitative data">-</span>
              {% endif %}
            </td>
            {% comment "No more 2D Gel information" %}
              <td>
                {% if data.ppeptide.gel %}
                  <a href="/2d_gels/viewer&pep={{data.ppeptide.peptide}}">
                    <img alt="2dgel_yes" src="/files/images/yes.png" title="Click here for this peptide 2D Gel experiment/s...">
                  </a>
                {% else %}
                  <span title="No Spectra from 2D Gel experiment">-</span>
                {% endif %}
              </td>
            {% endcomment %}
            <td>
              {% if data.ppeptide.l_prots|length > 1 %}
                <small>
                {% for protroot, isofnums in data.ppeptide.grpprots.items %}
                    {% if not protroot.2 %}
                        <a href="/protein_view/{{protroot.0}}"
                           title="{{protroot.1}}">
                            {{protroot.0}}
                        </a>
                    {% else %}
                       <a href="/protein_view/{{protroot.0}}-{{protroot.2}}"
                          title="{{protroot.1}} - Isoform {{protroot.2}}">
                            {{protroot.0}}-{{protroot.2}}
                        </a>
                    {% endif %}
                    {% if isofnums|length > 0 %}
                      <nobr>
                        (
                        <small>
                        {% for isofnum in isofnums %}
                          <a href="/protein_view/{{protroot.0}}-{{isofnum}}"
                             title="{{protroot.0}}-{{isofnum}} isoform">
                              {{isofnum}}
                          </a>
                          {% if not forloop.last %},{% else %}</small>){% endif %}
                        {% endfor %}
                      </nobr>
                    {% endif %}
                    {% if not forloop.last %};{% endif %}
                  {% endfor %}
                </small>
              {% else %}
                <img alt="OnlyProt" src="/files/images/yes.png"
                     title="Only found in this protein" />
              {% endif %}
            </td>
            {% if not forloop.last %}
              </tr>
            {% endif %}
          {% endfor %}
          </tr>
        {% endfor %}
    </tbody>
    </table>
    <br />
  {% endif %}
{% else %}
  <p>
    Sorry. No sequence available.<br />
    <em>{{protein.ac}} may be Deleted</em> from <a href="http://www.uniprot.org/">UniProt</a>.<br />
    <br />
    You can try to search it in
    <a href='http://www.uniprot.org/uniprot/{{protein.ac}}?version=*'>
      UniProtKB History for {{protein.ac}}
    </a>.
  </p>
<br />
  {% if protein.phospho %}
    <em>Phospho-peptides supporting this Protein:</em><br />
    <br />
    <table class="browser" width="80%" cellspacing="0" rules="rows">
    <colgroup span="1" id="col_peptide"></colgroup>
    <tbody>
        <tr id="sub_header">
            <th align="center" width="28%"
                title="s,t,y represent phosphorylation on Ser, Thr or Tyr">
                Peptide
            </th>
            <th align="center" width="4%"
                title="Number of spectra identifying the peptide">
                &nbsp;#&nbsp;specs&nbsp;
            </th>
            <th align="center" width="4%"
                title="Quantitative data availability">
                <img alt="quantitative_data" src="/files/images/qdata.png">
            </th>
            {% comment "No more 2D Gel information" %}
              <th align="center" width="4%"
                title="Associated 2D Gel experiment">
                <img alt="2d_data" src="/files/images/2dgel.png">
              </th>
            {% endcomment %}
            <th align="center" width="58%"
                title="Uniprot ACcession numbers">
                Proteins
            </th>
        </tr>
        {% for peptide in protein.phosphopeptides %}
            <tr align="center">
                <td>
                  <a href="/peptide_view/{{peptide.peptide}}">
                    <span class="sec">{{peptide.htmlpeptide|safe}}</span>
                  </a>
                </td>
                <td>{{peptide.n_scans}}</td>
                <td>
                  {% if peptide.quantitative %}
                    <a href="/quant_summary/{{peptide.peptide}}" title="Click here for Quantitative Summary...">
                      <img src="/files/images/yes.png" />
                    </a>
                  {% else %}
                    <span title="No statistical quantitative data">-</span>
                  {% endif %}
                </td>
                {% comment "No more 2D Gel information" %}
                  <td>
                    {% if peptide.gel %}
                      <a href="/2d_gels/viewer&pep={{pep.peptide}}">
                        <img alt="2dgel_yes" src="/files/images/yes.png" title="Click here for this peptide 2D Gel experiment/s...">
                      </a>
                    {% else %}
                      <span title="No Spectra from 2D Gel experiment">-</span>
                    {% endif %}
                  </td>
                {% endcomment %}
                <td>
                  {% if peptide.l_prots|length > 1 %}
                    <small>
                    {% for protroot, isofnums in peptide.grpprots.items %}
                        {% if not protroot.2 %}
                            <a href="/protein_view/{{protroot.0}}"
                               title="{{protroot.1}}">
                                {{protroot.0}}
                            </a>
                        {% else %}
                           <a href="/protein_view/{{protroot.0}}-{{protroot.2}}"
                              title="{{protroot.1}} - Isoform {{protroot.2}}">
                                {{protroot.0}}-{{protroot.2}}
                            </a>
                        {% endif %}
                        {% if isofnums|length > 0 %}
                            <nobr>
                            (
                           <small>
                            {% for isofnum in isofnums %}
                                <a href="/protein_view/{{protroot.0}}-{{isofnum}}"
                                   title="{{protroot.0}}-{{isofnum}} isoform">
                                    {{isofnum}}
                                </a>
                                {% if not forloop.last %},{% else %}</small>){% endif %}
                            {% endfor %}
                            </nobr>
                        {% endif %}
                        {% if not forloop.last %};{% endif %}
                    {% endfor %}
                    </small>
                  {% else %}
                    <img alt="OnlyProt" src="/files/images/yes.png"
                         title="Only found in this protein" />
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <br />
  {% endif %}
{% endif %}
<h4>More information:</h4>
<br />
{% if protein.chr %}
  <em>Chromosome location: </em>{{protein.chr}}.<br />
  <br />
{% endif %}
{% if protein.up_psites %}
  <em>UniProt described Phosphorylations: </em>{{protein.up_psites}}.<br />
  <br />
{% endif %}
{% if protein.function %}
  <em>Function: </em>{{protein.function}}<br />
  <br />
{% endif %}
{% if protein.location %}
  <em>Subcellular location: </em>{{protein.location}}.<br />
  <br />
{% endif %}
<em>UniProt Link: </em><a href="http://www.uniprot.org/uniprot/{{protein.ac}}" target="_blank">{{protein.ac}} ({{protein.up_id}})</a> <a href="http://www.uniprot.org/uniprot/{{protein.ac}}" target="_blank"><img class="uniprot" src="/files/images/uniprot_logo.png" /></a><br />
<em>PhosphoSitePlus Link: </em><a href="http://www.phosphosite.org/uniprotAccAction.do?id={{protein.ac_noisoform}}" target="_blank">{{protein.ac_noisoform}}</a> <a href="http://www.phosphosite.org/uniprotAccAction.do?id={{protein.ac_noisoform}}" target="_blank"><img class="uniprot" src="/files/images/phosphositeplus_logo.png" /></a><br />
<br />
