<br />

{# Paginator code: #}
{% with proteins as paginator %}
    {% with "Phosphorylated Proteins" as objects %}
        {% with n_proteins as n_objects %}
            {% with "phosphorylated proteins found:" as objects_found %}
                {% include "paginator_bar.html" %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
{% endwith %}
{# End of Paginator code. #}

<br />
<table class="browser" width="100%" cellspacing="0" rules="rows">
<colgroup span="1" id="col_protein"></colgroup>
<tbody>
    {# Table_Result_Headers code: #}
    {% with "/protein_search_results/" as action %}
        {% include "table_result_headers.html" %}
    {% endwith %}
    {# End of Table_Result_Headers code. #}
    
    {% for prot in proteins.object_list %}
        <tr>
            <td align="center">
                <a href="/protein_view/{{prot.ac}}">{{prot.ac}}</a>
            </td>
            <td align="center">
                {% if prot.name %}{{prot.name}}{% else %}-{% endif %}
            </td>
            <td align="center">
                {% if prot.chr %}{{prot.chr}}{% else %}-{% endif %}
            </td>
            <td align="center">
                {% if prot.n_psitesfrompeps %}{{prot.n_psitesfrompeps}}{% else %}-{% endif %}
            </td>
            {% comment %}
            <td align="center">
                <span title="{{prot.peptidenames|join:" , "}}">
                    {{prot.n_peptides}}
                </span>
            </td>
            {% endcomment %}
            <td align="center">
                {% if prot.n_protsfrompeps > 1 %}
                    {% comment %}
                        <span title="Other Protein/s identified by these Phospho Peptides">
                            {{prot.n_protsfrompeps}} other protein/s
                        </span>
                        <br />
                    {% endcomment %}
                    <small>
                    {% comment %}
                        {% for otherprot in prot.protsfrompeps %}
                            <a href="/protein_view/{{otherprot.0}}" 
                               title="{{otherprot.1}}">
                                {{otherprot.0}}
                            </a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endcomment %}
                    {% for protroot, isonums in prot.grpprotsfrompeps.items %}
                        <a href="/protein_view/{{protroot}}" 
                               title="{{protroot}}">
                            {{protroot}}
                        </a>
                        {% if isonums|length > 0 %}
                            <nobr>
                            ( 
                            <small>
                            {% for isonum in isonums %}
                                <a href="/protein_view/{{protroot}}-{{isonum}}" 
                                   title="{{protroot}}-{{isonum}} isoform">
                                    {{isonum}}
                                </a>
                                {% if not forloop.last %},{% else %}</small>){% endif %}                                
                            {% endfor %}
                            </nobr>
                        {% endif %}
                        {% if not forloop.last %};{% endif %}
                    {% endfor %}
                    </small>
                {% else %}
                    <a href="/protein_view/{{prot.ac}}">
	                    <img alt="Unequivocal" src="/files/images/yes.png" 
	                         title="Protein {{prot.ac}} Uniquely identified by these Phospho Peptides: {{prot.peptidenames|join:" , "}}" />
                    </a>
                {% endif %}
            </td>
            {% comment "No more 2D Gel information" %}
            <td align="center">
                {% if prot.pepsin2d %}
                    <a href="/2d_gels/viewer&ac={{prot.ac}}">
                        <img alt="2dgel_yes" src="/files/images/yes.png" 
                             title="Click here for protein {{prot.ac}} 2D Gel experiment/s..." />
                    </a>
                {% else %}
                    <span title="Protein {{prot.ac}} Not identified in any 2D Gel experiment">-</span>
                {% endif %}
            </td>
            {% endcomment %}
        </tr>
    {% endfor %}

    {# Table_Result_Headers code: #}
    {% with "/protein_search_results/" as action %}
        {% include "table_result_headers.html" %}
    {% endwith %}
    {# End of Table_Result_Headers code. #}
</tbody>
</table>
<br />

{# Paginator code: #}
{% with proteins as paginator %}
    {% with "Phosphorylated Proteins" as objects %}
        {% with n_proteins as n_objects %}
            {% with "phosphorylated proteins found." as objects_found %}
                {% include "paginator_bar.html" %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
{% endwith %}
{# End of Paginator code. #}

<br />
