<br/>
<h4>
  <span class="noshadow">Peptide
    <a href="/peptide_view/{{peptide}}" title="Click to get Mass Spectrometry Data about this peptide...">
      <span class="sec">{{htmlpeptide|safe}}</span>
    </a>
  </span>
</h4>
<br/>

<div style="display:inline-block">
  <em>p-sites: </em>{{n_psites}}
</div>
<br/><br/>
{% for cond in conditions %}
  <h5>
    <em>Condition: </em>
    <span class="noshadow"><a href="/experimental/">{{cond.name}}</a><br/></span>
    <br/>
    <em>Number of experiments: </em>{{cond.n_exp}}<br/>
    <em>Number of spectra: </em>{{cond.n_spectra}}<br/>
  </h5>
  <br/>
  <div style="display:inline-block; vertical-align:top;">
    <em>State:&nbsp;</em>
  </div>
  <div style="display:inline-block; vertical-align:top; width:30%;">
    <table class="regulation" width="100%"><tbody>
    {% for time, values in cond.sorted_time_values %}
      <tr style="border-color:{{values.0.color}};">
        <td width="38%">&#9679; At {{time}} min.:</td>
        <td width="8%" align="center">
          <img src="/files/images/{{values.0.img}}" align="middle"
               title="Trend (summary of spectrum changes): {{values.0.text}}"/>
        </td>
        <td width="54%" align="center">
          (<span title="Number of spectra indicating down-regulation">
          <img class="reg" alt="down_regulated:" src="/files/images/mini_down_reg.png"/>:
          {{values.1.0}}</span>,&nbsp;
          <span title="Number of spectra indicating no-change">
          <img class="reg" alt="non_regulated:" src="/files/images/mini_no_reg.png"/>:
          {{values.1.1}}</span>,&nbsp;
          <span title="Number of spectra indicating up-regulation">
          <img class="reg" alt="up_regulated:" src="/files/images/mini_up_reg.png"/>:
          {{values.1.2}}</span>)
        </td>
      </tr>
    {% endfor %}
    </tbody></table>
  </div>
  <br/><br/>

  <table class="quant">
  <tbody>
    <tr>
      <td id="no_number" rowspan="3" style="vertical-align: top">
          <img src="/files/images/clock.png" alt="time" align="top"/>
      </td>
      <td id="no_number" title="Time after activation in minutes">min.</td>
      <td id="no_number"></td>
      {% for time in cond.quanttimes %}
          <td title="Time after activation in minutes"> {{time}} </td>
      {% endfor %}
    </tr>
    <tr>
      <td id="no_number"></td>
      <td id="arrow_tail" colspan="{{cond.arrow_tail}}"></td>
      <td><img alt="arrow" src="/files/images/arrow_cap.png"/></td>
    </tr>
    <tr>
      <td id="no_number" title="Mean of the individual spectra normalized base 2 logarithms of the ratio between intensity at the indicated time and intensity at time 0">
        <span style="text-decoration:overline;">log<sub><sub>2</sub></sub>(<i>ratio</i>)</span>&nbsp;&nbsp;
      </td>
      <td id="no_number" style="vertical-align: bottom;"><small>&nbsp;&nbsp;PQuantifier: </small></td>
      {% for time, values in cond.sorted_time_values %}
          <td title="Mean of the individual spectra normalized base 2 logarithms of the ratio between intensity at the indicated time and intensity at time 0. PQuantifier results.">
            {{values.2|floatformat:decimals}}&nbsp;&plusmn;&nbsp;{{values.3|floatformat:decimals}}
            {% if values.5 %}
              <span title="Significant change according to a t-student test with a 99% significance"
                    style="cursor:help; font-size:1.3em">**</span>
            {% elif values.4 %}
              <span title="Significant change according to a t-student test with a 95% significance"
                    style="cursor:help; font-size:1.3em">*</span>
            {% endif %}
          </td>
      {% endfor %}
    </tr>
    {% if cond.dbdanteravgratios %}
      <tr>
        <td id="no_number" colspan="2"></td>
        <td id="no_number" style="vertical-align: bottom;"><small>&nbsp;&nbsp;DanteR: </small></td>
        {% for time, values in cond.sorted_time_values %}
          <td title="Mean of the individual spectra normalized base 2 logarithms of the ratio between intensity at the indicated time and intensity at time 0. DanteR results.">
            {{values.6|floatformat:decimals}}
            {% if values.7 %}
              <span title="Significant change according to an ANOVA test with an adjusted p-value lower than 0.05"
                    style="cursor:help; font-size:1.4em"><sup>+</sup></span>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endif %}
  </tbody>
  </table>
  <br/>
  <p>
  	&nbsp;
    <a href="/quant_view/{{peptide}}-{{cond.expgroup_id}}"
       title="Spectra statistical data for each experiment">
      <img src="/files/images/qdata.png"/>&nbsp;&nbsp;Detailed Quantitative data
    </a>
  </p>
  <br/>
{% endfor %}

<h4></h4>
<br/>
<span style="font-size:1.3em">**</span>&nbsp;<small>Significant change according to a <i>t</i>-student test with a <b>99%</b> significance; for PQuantifier results.</small><br/>
<span style="font-size:1.3em">&nbsp;*</span>&nbsp;<small>Significant change according to a <i>t</i>-student test with a <b>95%</b> significance; for PQuantifier results.</small><br/>
<span style="font-size:1.4em">&nbsp;<sup>+</sup></span>&nbsp;<small>Significant change according to an ANOVA test with an adjusted <i>p</i>-value lower than <b>0.05</b>; for DanteR results.</small><br/>