<br/>
<h4>
    <span class="noshadow">
    Peptide <a href="/peptide_view/{{peptide}}" title="Click to get Mass Spectrometry Data about this peptide...">
                <span class="sec">{{htmlpeptide|safe}}</span>
            </a>
    </span>
</h4>
<br/>

<div style="display:inline-block">
    <em>p-sites: </em>{{n_psites}}<br/><br/>
    <em>Condition:
        <a href="/experimental/">{{condition}} (Cond. ID: {{condition_id}})</a>
    </em><br/>
</div>
<br/><br/>
{% for exp in experiments %}
    <h5>
        <em>Experiment: </em>{{exp.name}} (Exp. ID: {{exp.id}})<br/>
        <em>Number of spectra: </em>{{exp.n_spectra}}<br/>
    </h5>
    <br/>
    <table class="quant">
    <tbody>
        <tr>
            <td id="no_number" rowspan="{{exp.n_rows}}" style="vertical-align: top">
                <img src="/files/images/clock.png" align="top" alt="time"/>
            </td>
            <td id="no_number" title="Time after activation in minutes">min.</td>
            <td id="no_number"></td>
            {% for time in exp.times %}
                <td> {{time}} </td>
            {% endfor %}
        </tr>
        <tr>
            <td id="no_number"></td>
            <td id="arrow_tail" colspan="{{exp.arrow_tail}}"></td>
            <td><img src="/files/images/arrow_cap.png" alt="arrow"/></td>
        </tr>
        {% for data in exp.data_list %}
            <tr>
            {% if forloop.first %}
                <td id="no_number" title="Normalized base 2 logarithm of the ratio between intensity at the indicated time and intensity at time 0">
                  log<sub><sub>2</sub></sub>(<i>ratio</i>)&nbsp;
                </td>
            {% else %}
                <td id="no_number"></td>
            {% endif %}
            <td id="no_number"></td>
            {% for time, values in data %}
                <td>
                  {% if values.0.0 == 0 %}
                    <span style="color: black;">
                  {% elif values.0.0 == 1 %}
                    <span title="log2(ratio) > two-sigma over the experiment normal log2(ratio) mean" style="color:green; font-weight:bold;">
                  {% elif values.0.0 == -1 %}
                    <span title="log2(ratio) < two-sigma under the experiment normal log2(ratio) mean" style="color:red; font-weight:bold;">
                  {% endif %}
                  {{values.1|floatformat:decimals}}</span>
                  {% if values.0.0 != "black" %}</em>{% endif %}
                  &nbsp;&plusmn;&nbsp;{{values.2|floatformat:decimals}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
<!--
        <tr style="border-top: 1px solid" align="right">
        {% for avgratio, avgstdv in exp.avgs %}
            <td>&nbsp;{{avgratio|floatformat:decimals}}&nbsp;&plusmn;{{avgstdv|floatformat:decimals}}&nbsp;&nbsp;</td>
        {% endfor %}
        </tr>
-->
    </tbody>
    </table>
    <br/><br/>
{% endfor %}
<h4></h4>
<br />
<span style="color:green; font-weight:bold;">green</span> : <small>spectrum log<sub><sub>2</sub></sub>(<i>ratio</i>) is <b>greater</b> than <span title="two-sigma">2&sigma;</span> over the experiment normal log<sub><sub>2</sub></sub>(<i>ratio</i>) mean.</small><br/>
<span style="color:red; font-weight:bold;">red</span> : <small>spectrum log<sub><sub>2</sub></sub>(<i>ratio</i>) is <b>lower</b> than <span title="two-sigma">2&sigma;</span> under the experiment normal log<sub><sub>2</sub></sub>(<i>ratio</i>) mean.</small><br/>
