<br/>
<em>For Advanced Search and Search Tips, do <a href="/search/">
    a regular Search</a>
</em>
<br/><br/><br/>
{% if peptides %}
    <h5>Phospho-peptides matching query '*{{ search_string }}*'</h5>
    {% include 'peptide_result.html' %}
    <br/><br/>
{% endif %}        
{% if proteins %}
    <h5>Phosphorilated Proteins matching query '*{{ search_string }}*'</h5>
    {% include 'protein_result.html' %}
    <br/>
{% endif %}        
<br/><br/>
<em>For Advanced Search and Search Tips, do <a href="/search/">
    a regular Search</a>
</em>
<br/><br/>