{% extends base_template %}

{% block section %}
    <div id="content">
        <h3>{{section_title}}</h3>
        {% if not errors %}
            {# Here goes the type of result generated according to the chosen option #}
            {% include result_template %}
        {% else %}
            <br/>
            <em>Search Errors!:</em>
            <br/><br/>
            <span style="color: red;">
                <ol>
                {% for error in errors %}
                    <li>{{error.0}}:
                    <ul>
                    {% for e_msg in error.1 %}
                        <li>{{e_msg}}</li>
                    {% endfor %}
                    </ul>
                    </li>
                {% endfor %}
                </ol>
            </span>
            <br/><br/><br/><br/>
            <em>
            Please, <a title="Search Again {{APPNAME}} DataBase" href="/search/" rel="section">try Searching again</a>!
            </em>
            <br/>
        {% endif %}
    </div>
{% endblock %}