{% extends base_template %}

{% block section %}
    <div id="content">
        <h3><span style="color: #FF8020;">Phospho-peptide</span> Search</h3>
        
        <form action="/peptide_search_results/" method="post" name="form_peptide_search">
        {% csrf_token %}
        <div style="display:inline-block; min-width:60%;">
            <fieldset><legend>Phospho-peptide Sequence Search:</legend>
                <input type="text" value="" name="peptide_sequence" title="Input Peptide Squence to search for" id="peptide_sequence" size="30" maxlength="25" tabindex="1"/>
                <input type="hidden" name="order_by" value=""/>
                <button type="submit" name="peptide_search" id="peptide_search" tabindex="2" title="Search {{APPNAME}} DataBase for Phospho-peptides">
                    <img alt="Search:" src="/files/images/search.gif"/>
                    &nbsp;Search <b>Phospho-peptides</b>
                </button>
            </fieldset>
        </div>
        <div style="display:inline-block; min-width:37%;">
            <fieldset><legend>All Phospho-peptide Set from LymPHOS:</legend>
                <input type="hidden" name="order_by" value=""/>
                <button type="submit" name="all_peptides_search" id="all_peptides_search" tabindex="3" title="Browse {{APPNAME}} DataBase for ALL Phospho-peptides">
                    <img alt="Browse:" src="/files/images/magnify.png"/>
                    &nbsp;Browse <b>All Phospho-peptides</b>
                </button>
            </fieldset>
        </div>
        
        <div class='hints'>
        <p>You can search into the database on a phospho-peptide driven 
        way: write a sequence in the <label for="peptide_sequence"><b>|&nbsp;text&nbsp;field&nbsp;|
        </b></label> up here, and then press the <b>|&nbsp;<img alt="Search" 
        src="/files/images/search.gif">&nbsp;Search&nbsp;Phospho-peptides&nbsp;|</b> button. 
        You must use the aminoacid <i>1-letter 
        symbols</i>, and the maximum allowed chain is <i>25 characters</i> long. 
        You can also use the '<span style="color: #0033CC;" title="*">*</span>' 
        wildcard for 'one or more' unknown aminoacids, and/or the '<span 
        style="color: #0033CC;" title="?">?</span>' wildcard for 'only one' 
        unknown aminoacid. The non-phosphorylated aminoacid symbols must be entered using <i>upper 
        case letters</i>. You must <i>only use lower case letters</i> when you 
        want to specify a <i>phosphorylated residue</i>: 
        <span style="color: #0033CC;" title="phosphorylated Tyrosine">y</span>, 
        <span style="color: #0033CC;" title="phosphorylated Serine">s</span>, 
        <span style="color: #0033CC;" title="phosphorylated Threonine">t</span> 
        (for phosphorylated forms of Tyrosine, Serine and Threonine).</p>
        <p>You can also browse the whole peptide set, without 
        entering any sequence, by pressing the <b>|&nbsp;<img 
        alt="Browse" src="/files/images/magnify.png"/>&nbsp;Browse&nbsp;All&nbsp;Phospho-peptides&nbsp;|</b> button.</p>
        </div>
        </form>
        
        <h3><span style="color: #FF8020;">Protein</span> Search</h3>
        
        <form action="/protein_search_results/" method="post" name="form_protein_search">
        {% csrf_token %}
        <div style="display:inline-block; min-width:60%;">
            <fieldset><legend>Text Protein Search:</legend>
                <input type="text" value="" name="protein_text" title="Input Text to search for Proteins" id="protein_text" size="35" tabindex="3"/>
                <input type="hidden" name="order_by" value=""/>
                <button type="submit" name="protein_search" id="protein_search" tabindex="4" title="Search {{APPNAME}} DataBase for phosphorylated Proteins">
                    <img alt="Search" src="/files/images/search.gif">
                    &nbsp;Search <b>Phosphorylated Proteins</b>
                </button>
            </fieldset>
        </div>
        <div style="display:inline-block; min-width:37%;">
            <fieldset><legend>All Phosphorylated Protein Set from LymPHOS:</legend>
                <input type="hidden" name="order_by" value=""/>
                <button type="submit" name="all_proteins_search" id="all_proteins_search" tabindex="5" title="Browse {{APPNAME}} DataBase for ALL phosphorylated Proteins">
                    <img src="/files/images/magnify.png"/>
                    &nbsp;Browse <b>All Phosphorylated Proteins</b>
                </button>
            </fieldset>
        </div>
        
        <div class='hints'>
        <p>You can search into the database for a phosphorylated protein or sub-set of phosphorylated proteins. 
        Write your search text in the <label for="protein_text"><b>|&nbsp;text&nbsp;field&nbsp;|</b>
        </label> up this sub-section, and then press the <b>|&nbsp;<img alt="Search" 
        src="/files/images/search.gif">&nbsp;Search&nbsp;phosphorylated&nbsp;Proteins&nbsp;|</b> 
        button. For the text-search you can use the 
        UniProt/TrEMBL Accession Numbers (ex.: 'P16070'; 'Q709C8'), the 
        UniProt/TrEMBL ID (ex.: 'MEFV_HUMAN'; 'KPCB_HUMAN') or some part of the 
        UniProt/TrEMBL Description Line (ex.: 'Protein kinase C beta type'; 
        'Cyclin-K'; 'Retinoblastoma-associated protein'). The maximum allowed text size  
        is <i>35 characters</i> long. You can also use the '<span style="color: #0033CC;" 
        title="*">*</span>' wildcard for 'one or more' unknown letters, and/or 
        the '<span style="color: #0033CC;" title="?">?</span>' wildcard for 'only 
        one' unknown letter. Some useful examples are: 'P16<span style="color: #0033CC;">?</span>70' , 
        'P16<span style="color: #0033CC;">*</span>', '<span style="color: #0033CC;">
        *</span>kinase<span style="color: #0033CC;">*</span>'. Remember that all 
        phosphorylated proteins are from <b>human origin</b>.</p>
        <p>You can also browse the whole protein set, without entering 
        any text, simply pressing the <b>|&nbsp;<img alt="Browse" 
        src="/files/images/magnify.png"/>&nbsp;Browse&nbsp;All&nbsp;phosphorylated&nbsp;Proteins&nbsp;|</b> 
        button.</p>
        </div>
        </form>
<!--         
        <h3><span style="color: #FF9F3F;">2DE Images</span> Search</h3>
        
        <p>This section is now in beta-testing phase...</p>
        <div style="display:inline-block; min-width:36%;">
        <form action="/twodgels_peptide_search_results/" method="post" name="form_gel_search">
        {% csrf_token %}
            <fieldset><legend>Peptid Sequence Search:</legend>
                <input type="text" value="" name="gel_peptide_sequence" title="Input Peptide Sequence to search for in 2D-Gels" id="gel_peptide_sequence" size="30" tabindex="7" maxlength="25"/>
                <button type="submit" name="gel_peptide_search" id="gel_peptide_search" tabindex="8" title="Search {{APPNAME}} DataBase for 2D-Gels containing the peptide sequence">
                    <img src="/files/images/search.gif"/>
                    &nbsp;Search <b>Gels</b>
                </button>
            </fieldset>
        </form>
        </div>
        <div style="display:inline-block; min-width:36%;">
        <form action="/twodgels_protein_search_results/" method="post" name="form_gel_search">
        {% csrf_token %}
            <fieldset><legend>Text Protein Search:</legend>
                <input type="text" value="" name="gel_protein_text" title="Input Text to search for Proteins in 2D-Gels" id="gel_protein_text" size="35" tabindex="9"/>
                <button type="submit" name="gel_protein_search" id="gel_protein_search" tabindex="10" title="Search {{APPNAME}} DataBase for 2D-Gels containing the Protein">
                    <img src="/files/images/search.gif"/>
                    &nbsp;Search <b>Gels</b>
                </button>
            </fieldset>
        </form>
        </div>
        <div style="display:inline-block; min-width:27%;">
        <form action="/twodgels_all_search_results/" method="post" name="form_gel_search">
        {% csrf_token %}
            <fieldset><legend>Visual 2D-Gels Set Browsing:</legend>
                <button type="submit" name="all_2d_gels_search" id="all_2d_gels_search" tabindex="6" title="Browse {{APPNAME}} DataBase for ALL 2D-Gels">
                    <img alt="Browse" src="/files/images/magnify.png"/>
                    &nbsp;Browse <b>All 2D-Gels</b>
                </button>
            </fieldset>
        </form>
        </div>
 -->
     </div>
{% endblock %}
