    <div id="sidebar">
      <h3>Sidebar</h3>
      <form action="/quick_search_results/" method="post">
        {% csrf_token %}
        <fieldset>
        <legend>Quick Search {{APPNAME}}</legend>
            <input type="search" value="" name="quick_text"
             title="Input a Peptide Squence or a Protein Text to search for"
             id="quick_text" maxlength="35" tabindex="1" autofocus="autofocus"
             autosave="autosave" autocomplete="on" style="font-family:monospace"/>
            <button type="submit" name="quick_search" id="quick_search"
             title="Quick Search {{APPNAME}} DataBase for Peptide Sequence or Protein Text"
             tabindex="2">
                <img alt="Search" src="/files/images/search.gif" />
                &nbsp;Search {{APPNAME}} DB
            </button>
        </fieldset>
      </form>
      <h4>News and Logs</h4>
      <p class="logs">2018/07/11 New Internet Host for LymPHOS2 (sorry for the unavailability time).</p>
      <p class="logs">2015/11/18 Updated quantitative data in LymPHOS2 DataBase.</p>
      <p class="logs">2015/08/05 LymPHOS DataBase update (experiment 36 and quantitative data).</p>
      <p class="logs">2014/08/01 Updated to LymPHOS2 code-base and DataBase.</p>
      <p class="logs">2014/04/25 Updated to integrate protein chromosome information.</p>
      <p class="news">Quantitative Statistical Data available.</p>
    </div>
