{# Table_Result_Headers code: #}
<tr id="sub_header">
    <form action= "{{ action }}" method="post" name="sort">
        {% csrf_token %}
        <input type="hidden" name="{{ search_type }}" value="1"/>
        {% if search_input %}
            <input type="hidden" name="{{ search_input }}" value="{{ search_value }}"/>
        {% endif %}
        {% for header in table_headers %}
        <th align="center" width="{{ header.width }}" title="{{ header.title }}">
            {% if header.order_by %}
                {% if header.order_by in search_order_by %}
                <button type="submit" class="ordered_asc" name="order_by" value="-{{ header.order_by }}" id="{{ header.order_by }}_asc" title="{{ header.title }}. Click to sort descending">
                {% elif "-"|add:header.order_by in search_order_by %}
                <button type="submit" class="ordered_dsc" name="order_by" value="{{ header.order_by }}" id="{{ header.order_by }}_dsc" title="{{ header.title }}. Click to sort ascending">
                {% else %}
                <button type="submit" class="not_ordered" name="order_by" value="-{{ header.order_by }}" id="{{ header.order_by }}" title="{{ header.title }}. Click to sort descending">
                {% endif %}
                    {{ header.html|safe }}&nbsp;&nbsp;
                </button>               
            {% else %}
               {{ header.html|safe }}
            {% endif %}
        </th>
        {% endfor %}
    </form>
</tr>
{# End of Table_Result_Headers code. #}