{% extends base_template %}

{% block section %}
    <div id="content">
        <h3><span style="color: #FF9030;">{{APPNAME}}</span> Web-Application:</h3>
        <ol>
            <li> Update the Experimental Data Section with new MIAPEs.</li>
            <li> Add Help and Documentation.</li>
        </ol>
        <h3><span style="color: #FF9030;">{{APPNAME}}</span> Experimental:</h3>
        <ol>
            <li> Implementation of more elaborated statistical approaches for evaluation of the significance of changes.</li>
        </ol>
        <br/><br/>
        <p>If you are interested in contributing, see the <em><a href="/contribute/">Contribute Section</a></em>.</p>
    </div>
{% endblock %}
