<br/>
<h4>Experimental Conditions:</h4>

<br/>
<form action="/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="fconditions" title="Choose a Conditions File (.DB) to Upload..." accept="application/json, application/zip"/>&nbsp;&nbsp;
    <button type="reset" title="Cancel this file Upload">
    <img alt="Cancel:" src="/files/images/eraser.png"/>&nbsp;Cancel
    </button>
    <button type="submit" onclick="please_wait()" name="submit_conditions" title="Upload selected JSon Experimental Conditions File for incorporation in {{APPNAME}} DataBase">
    <img alt="Upload:" src="/files/images/upload.png"/>&nbsp;Upload and Process Experimental Conditions File
    </button>
</form>
<br/>

<h4>DataSet (PhosFile):</h4>

<br/>
<form action="/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="fdataset" title="Choose a DataSet File (.DB or .ZIP) to Upload..." accept="application/json, application/zip"/>&nbsp;&nbsp;
    <button type="reset" title="Cancel this file Upload">
    <img alt="Cancel:" src="/files/images/eraser.png"/>&nbsp;Cancel
    </button>
    <button type="submit" onclick="please_wait()" name="submit_dataset" title="Upload selected JSON DataSet File for incorporation in {{APPNAME}} DataBase">
    <img alt="Upload:" src="/files/images/upload.png"/>&nbsp;Upload and Process DataSet File
    </button>
</form>
<br/>

<h4>PQuantifier Quantitative Statistics:</h4>

<br/>
<form action="/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="fquantitative" title="Choose a PQuantifier Quantitative Statistical File (.JSON) to Upload..." accept="application/json, application/zip"/>&nbsp;&nbsp;
    <button type="reset" title="Cancel this file Upload">
    <img alt="Cancel:" src="/files/images/eraser.png"/>&nbsp;Cancel
    </button>
    <button type="submit" onclick="please_wait()" name="submit_quant" title="Upload selected PQuantifier Quantitative Statistics JSON File for incorporation in {{APPNAME}} DataBase">
    <img alt="Upload:" src="/files/images/upload.png"/>&nbsp;Upload and Process PQuantifier Quantitative Statistics File
    </button>
</form>
<br/>

<h4>DanteR Quantitative Statistics:</h4>

<br/>
<form action="/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="fdanter" title="Choose a DanteR DB Statistical File (.DB or .SQLITE) to Upload..." accept="application/sqlite"/>&nbsp;&nbsp;
    <button type="reset" title="Cancel this file Upload">
    <img alt="Cancel:" src="/files/images/eraser.png"/>&nbsp;Cancel
    </button>
    <button type="submit" onclick="please_wait()" name="submit_danter" title="Upload selected DanteR DB Statistics File for incorporation in {{APPNAME}} DataBase">
    <img alt="Upload:" src="/files/images/upload.png"/>&nbsp;Upload and Process DanteR DB Quantitative Statistics File
    </button>
</form>
<br/>

<h4>Apply Changes &amp; Rebuild Cache:</h4>

<br/>
<form action="/upload/" method="post">
    {% csrf_token %}
    {% if cache_msg %}
        <em>
        You have added new Data to the {{APPNAME}} DataBase, 
        so Remember to click Apply! button to rebuild the DataBase cache table!!:
        </em>
        <br/>
    {% endif %}
    <button type="submit" onclick="please_wait()" title="Apply! : Rebuild Cache Table" name="rebuild_cache">
    <img alt="Apply:" src="/files/images/apply.png"/>&nbsp;Apply!
    </button>                    
    <br/>
</form>
<br/>
<br/>

<h5>Upload section logs:</h5>

<br/>
<form>
    <textarea rows="10" cols="90" readonly="readonly">
    {% for log in logs %}
        {{forloop.counter}}.- {{log.0}}:
        {% for l_msg in log.1 %}
           &nbsp;&#8226;&nbsp;{{l_msg}}
        {% endfor %}
    {% endfor %}
    </textarea>
</form>
