{% extends base_template %}

{% block section %}
    <script type = "text/javascript">
    function please_wait() {
    	document.getElementById('overlay').style.display='block';
    	document.getElementById('img_overlay').style.display='block';
    	return true;
    }
    </script>
    <div id="overlay" style="display: none; z-index: 2000; background-color: black; opacity: 0.6; position: absolute; left: 0; top: 0; width: 100%; height: 200%;">
    </div>
    <div id="img_overlay" style="display: none; z-index: 2001; background-color: black; position: absolute; top: 40%; right: 40%; opacity: 1; z-index: 2001">
        <img src="/files/images/circular_wait.gif"/>
    </div>
    
    <div id="content">
        {% if logged %}
            <div style="float: right;">
                <form action="/upload/" method="post">
                    {% csrf_token %}
                    {% if cache_msg %}
                        <button type="submit" onclick="please_wait()" title="Apply Changes, and then Log-out" name="apply-log-out">
                        Apply &amp; Log-Out
                        </button>
                    {% else %}
                        <button type="submit" title="Log-out" name="log-out">
                        Log-Out
                        </button>
                    {% endif %}
                </form>
            </div>
        {% endif %}
        
        <h3>{{section_title}}</h3>
        {% if not errors %}
            {% if logged %}
                {% include admin_view %}
            {% else %}
                {% include login_view %}
            {% endif %}
        {% else %}
            <br/>
            <em>Errors!:</em>
            <br/><br/>
            <span style="color: red;">
                <ol>
                {% for error in errors %}
                    <li>{{error.0}}:
                    <ul>
                    {% for e_msg in error.1 %}
                        <li>{{e_msg}}</li>
                    {% endfor %}
                    </ul>
                    </li>
                {% endfor %}
                </ol>
            </span>
            <br/><br/><br/><br/>
            <em>
            Please, 
            {% if logged %}
                <a title="Try Again to Update {{APPNAME}} DataBase" href="/upload/" rel="section">try Uploading again</a>!
            {% else %}
                <a title="Try Again to login" href="/upload/" rel="section">try login again</a>!
                  <br/><br/>
                  <p>If you need an username and password, please, <em><a href="/about/#contact">contact us</a></em>.</p>
            {% endif %}
            </em>
            <br/>
        {% endif %}
    </div>
{% endblock %}